<div class="container">
  <div class="left-side"></div>
  <div class="right-side">
    <div class="story-container">
      <span class="my-story">My story</span>
      <div class="black-span"></div>
      <p class="paragraph-one">
        Clarke was born in London, England, on October 23, 1986. Raised in the countryside of Oxfordshire, her interest in acting began at an early age, when her mother took her to a production of the classic musical Show Boat, on which her father was working as a sound engineer.
      </p>
      <p class="paragraph-one second-paragraph">Clarke was educated at Rye St. Antony and St. Edwards in Oxford, during which time she appeared in productions of West Side Story and Twelfth Night. Rounding out her love of performance, she also learned to sing and play the guitar. </p>
    </div>
  </div>
</div>
