<div class="container">
  <div class="white-part">
  </div>
  <div class="black-part"></div>
  <div class="outer-layer">
    <img class="image" alt=""  src="https://static.wixstatic.com/media/84770f_ab56ff2a5af943339f7dc9091e4ae27d~mv2_d_1988_2666_s_2.png/v1/fill/w_406,h_544,al_c,q_85,usm_0.66_1.00_0.01/84770f_ab56ff2a5af943339f7dc9091e4ae27d~mv2_d_1988_2666_s_2.webp" style="width: 395px; height: 544px; object-fit: fill;">
    <div class="bestseller-info">
      <span class="label">A Best-Selling Book by <br> Emily Clark</span>
      <div class="available">
        <span class="available-label">eBook Version is Available</span>
        <div class="available-button">
          <span class="button-label">Buy now</span>
        </div>
      </div>
    </div>
  </div>
</div>
