<div class="wrapper">
  <div class="form-area">
    <span class="contact-line">For any media inquiries, please contact agent Jan Prudnikov:</span>
    <div class="contact-wrapper">
      <div class="left-contact">
        <span class="info-label">Tel: 123-456-7890</span>
        <span class="info-label">Email: info@mysite.com</span>
      </div>
      <div class="right-contact">
        <span class="info-label">500 Terry Francois Street</span>
        <span class="info-label">San Francisco, CA 94158</span>
      </div>
    </div>
    <div class="input-area">
      <input class="contact-input" type="text" placeholder="Name">
      <input class="contact-input" type="text" placeholder="Email">
      <textarea class="contact-input text-area" rows="4" placeholder="Type your message here"></textarea>
      <div class="submit-button">Submit</div>
    </div>
    <div class="faq">
      <span class="faq-span">FAQ</span>
      <span class="faq-span">Downloads & Refunds</span>
      <span class="faq-span">Store Policy</span>
      <span class="faq-span">Payment Methods</span>
    </div>
  </div>
<div class="outline">
  <span class="outline-span">@ 2020 by Jan Prudnikov. Produly crerated for course project</span>
</div>
</div>
